*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
/* header */
header{
    background-color: #EAC926;
}
body .logo{
    padding: 10px;
    width: 150px;
    text-align: left;
}
body .buscar{
     display: inline-flex;
     flex-direction: row;
}
body .buscador{
    display: inline-flex;
    width: 26px;
    height: 22px;
    color:  #666;
    background-color: #ebebeb ;
    border-radius: 5px;
    border: solid 1px;
    flex-direction: row;
}
body .compra{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 10px;
}
.banner img{
    width: 100%;
    height: 50%;
    text-align: center;
}
header{
    text-align: center;
}
header nav ul li{
display:none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.home .burguer{
    display: inline-block;
    width: 28px;
    background-color: #032640;
    color:#ebebeb;
    padding: 0;
    margin-bottom: 25px 25px 25px;
    border-radius: 3px;
    height: 25px;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}
/*main*/
main .vista{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#666;
    background-color:#ebebeb ;
    margin:15px;
    text-align:left;
}
main{
    background-color: #ebebeb;
}
main article{
    border:solid 1px #ebebeb;
}
main article img{
    width: 80%;
    margin-left: 5px;
    margin-right:5px;
    text-align: center;
}
main article .titular{
    display: none;
}
main .container0{
    display: flex;
    flex-wrap: nowrap;
    width: 95%;
    border:solid 1px #ebebeb;
    text-align: left;
    margin: 0;
    box-shadow: ​0px ​​0px ​​10px ​​rgb​(​100​, ​100​, ​100​);
    flex-direction: column;
}
main .caja1{
     width: 100%;
     margin:4px;
     border-top: solid 1px #ebebeb;
     box-shadow: ​0px ​​0px ​​10px ​​rgb​(​100​, ​100​, ​100​);
     text-align: left;
     padding: 15px 15px  15px;
   
     
}
main .caja2{
     width: 100%;
     margin: 4px;
     border-top: solid 1px #ebebeb;
     background-color: white;
     box-shadow: ​0px ​​0px ​​10px ​​rgb​(​100​, ​100​, ​100​);
      
}
main .caja3{
     width: 100%;
     margin: 4px;
     border-top: solid 1px #ebebeb;
     background-color: white;
     box-shadow: ​0px ​​0px ​​10px ​​rgb​(​100​, ​100​, ​100​);
}
main .caja4{
     width: 100%;
     margin: 4px;
     border-top: solid 1px #ebebeb;
     background-color: white;
     box-shadow: ​0px ​​0px ​​10px ​​rgb​(​100​, ​100​, ​100​);
}

main article i{
    color:#39b54a;
    margin: 10px;
    background-color:white;
    width: 1.8em;
    text-align: center;
    line-height: 1.8em;
    border:1px solid #39b54a ;
    border-radius: 50%;
}
main article h5{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 10px;
}
main article p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:#39b54a;
    margin: 10px;
}
main article h4{
    display: none;
}
main article{
    padding: 15px 15px 15px;
    margin: 10px;
    border: solid 1px #ebebeb;
    background-color: white;
   flex-wrap: wrap;
}
/*footer*/
footer{
    margin: 10px;
    border: #ebebeb solid 1px;
    background-color: white;
}
footer section p{
    display: flex;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 15px;
}
footer h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
footer .iconos{ 
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(28, 2, 180);
}
@media(min-width:768px){
    body .logo{
        padding: 10px;
        width: 50%;
    }
    
    }
    header nav ul li {
        display:flex;
        color: black;
        flex-direction: column;
        text-align: left;
        flex-direction: row;
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    header .ico{
        display:flex;
        color:rgb(31, 17, 226);
        order: 1;

    }
    .home  .burguer{
        display: none;
    }
    .banner img{
        width: 100%;
        height: 100%;
    }
    /*main*/
    main article .titular{
        display: contents;
        font-family: 'Roboto', sans-serif;
        background-size: 16px;
        margin: 15px;
    }
    main article h4{
        display:inline-block;
        font-family: 'Roboto', sans-serif;
        background-size: 14px;
        margin: 10px;
    }
}
@media (min-width:1024px){
    /*footer*/
    footer section p{
        color: lightsalmon;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin: 15px;
        background-color: lightsteelblue;
    }

}